<h1>DRAGONS</h1>
<p>
    The @Model["color"] Dragon is the @Model["superlative"] Dragon of all. It has @Model["adjective1"] @Model["body-parts"], and a @Model["body-part"] shaped like a @Model["noun"]. It loves to eat @Model["animals"], although it will feast on nearly anything. It is @Model["adjective2"] and @Model["adjective3"]. You must be @Model["adjective4"] around it, or you may end up as its meal!
</p>

<p>
    <img src="/img/eyes.gif">
</p>

<p>
    <a href="/">Make another tale about the draaagonnn~</a>
</p>
